{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static "images/cat.png" %}" />
        </div>
        <div class="progress-bar">
            <div class="total-bar">
                <div class="complete-bar" style="width: 100%;"></div>
            </div>
        </div>
        <div class="question-container">
            <p>💟</p>
            <p>하고 싶은 말은?</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="option-container">
                <textarea type="text" name="comment"></textarea>
                <div class="basic-btn submit-btn"> 
                    <button type="submt">전송하기📩</button>
                </div>
            </div>
        </form>
        <footer>
            <div>made by Jihoo.M</div>
        </footer>
    </div>
</body>
</html>