{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <img src="{% static "images/cat.png" %}" />
      </div>
      <div class="progress-bar">
        <div class="total-bar">
          <div class="complete-bar"></div>
        </div>
      </div>
      <div class="question-container">
        <p>Q10.</p>
        <p>쌤이 가장 좋아하는 파스타는?</p>
      </div>
      <div class="option-container">
        <div class="four-btn">토마토 파스타</div>
        <div class="four-btn">까르보나라</div>
        <div class="four-btn">알리오 올리오</div>
        <div class="four-btn">봉골레</div>
      </div>
      <footer>
        <div>made by Jihoo.M</div>
      </footer>
    </div>
  </body>
  <script>
    const $choices = document.querySelectorAll(".four-btn");
    let prevScore = JSON.parse(window.localStorage.getItem("{{ user.username }}"));
    let score = 0;
    for (let $choice of $choices) {
      $choice.addEventListener("click", (e)=> {
       
        console.log(e.target.innerText);
        if(e.target.innerText === "알리오 올리오") {
          // 정답 처리 (점수 추가)
          score += 10;
          console.log("정답!")
        }
        if(e.target.innerText === "토마토 파스타") {
          // 정답 처리 (점수 -3)
          score -= 3;
          console.log("패널티!")
        }

        const newScore = [...prevScore, score];
        console.log(newScore);

        window.localStorage.setItem("{{ user.username }}", JSON.stringify(newScore));
        // fetch('/answer', {
        // method: 'POST', 
        // body: JSON.stringify({score: newScore})
        // })
        // .then(response => response.json())
        location.href = "http://localhost:8000/question/11"

      })
    }
  </script>
</html>
