{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static "images/cat.png" %}" />
        </div>
        <div class="progress-bar">
            <div class="total-bar">
                <div class="complete-bar" style="width: 78.57%"></div>
            </div>
        </div>
        <div class="question-container">
            <p>Q11.</p>
            <p>쌤이 5월8일 수요일에 구경하지 못한 동아리를 모두 고르시오.</p>
        </div>
        <div class="option-container">
            <div class="four-btn">
                <div class="checkbox"></div>
                텃밭반
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                또래상담
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                땡스히어로
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                축구반
            </div>
        </div>
        <footer>
            <button>></button>
            <div>made by Jihoo.M</div>
        </footer>
    </div>
</body>
<script>
    const $choices = document.querySelectorAll(".four-btn");
    const $nextBtn = document.querySelector("footer > button");
    let prevScore = JSON.parse(window.localStorage.getItem("{{ user.username }}"));
    let score = 0;

    let isChecked = [false,false,false,false];

    for (let i=0; i<4; i++) {
        $choices[i].addEventListener("click", (e) => {

        // 체크박스 체크처리
        isChecked[i] = !isChecked[i];
       
        // 체크박스 색깔표시
        if (isChecked[i]) {
            $choices[i].children[0].style.backgroundColor = 'yellow';
        } else {
            $choices[i].children[0].style.backgroundColor = 'white';
        }
        })
    }

    $nextBtn.addEventListener("click", (e) => {
        console.log(isChecked)
        isChecked.forEach((check, idx) => {
            if (idx === 1 && check) {
                // 4점 추가
                score += 4;
                console.log("점수획득!")
            }

            if (idx === 2 && check) {
                // 2점 마이너스
                score -= 2;
                console.log("패널티!")
            }
        })

        const newScore = [...prevScore, score];
        console.log(newScore);

        window.localStorage.setItem("{{ user.username }}", JSON.stringify(newScore));
        // fetch('/answer', {
        // method: 'POST', 
        // body: JSON.stringify({score: newScore})
        // })
        // .then(response => response.json())
        location.href ="http://localhost:8000/question/12";
    })
</script>
</html>