{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <img src="{% static "images/cat.png" %}" />
      </div>
      <div class="progress-bar">
        <div class="total-bar">
          <div class="complete-bar" style="width: 85.71%"></div>
        </div>
      </div>
      <div class="question-container">
        <p>Q12.</p>
        <p>쌤의 애창곡은?</p>
      </div>
      <div class="option-container">
        <div class="basic-btn option-btn">낭만고양이</div>
        <div class="basic-btn option-btn">헤어지자말해요</div>
      </div>
      <footer>
        <div>made by Jihoo.M</div>
      </footer>
    </div>
  </body>
  <script>
    const $choices = document.querySelectorAll(".basic-btn");
    let prevScore = JSON.parse(window.localStorage.getItem("{{ user.username }}"));
    let score = 0;
    for (let $choice of $choices) {
      $choice.addEventListener("click", (e)=> {
       
        console.log(e.target.innerText);
        if(e.target.innerText === "낭만고양이") {
          // 정답 처리 (점수 추가)
          score += 5;
          console.log("정답!")
        }
        else {
          // 패널티 -7점
          score -= 7;
          console.log("패널티!")
        }

        const newScore = [...prevScore, score];
        console.log(newScore);

        window.localStorage.setItem("{{ user.username }}", JSON.stringify(newScore));
        // fetch('/answer', {
        // method: 'POST', 
        // body: JSON.stringify({score: newScore})
        // })
        // .then(response => response.json())
        location.href = "http://localhost:8000/question/13"

      })
    }
  </script>
</html>
