{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <img src="{% static "images/cat.png" %}" />
      </div>
      <div class="progress-bar">
        <div class="total-bar">
          <div class="complete-bar"></div>
        </div>
      </div>
      <div class="question-container">
        <p>Q14.</p>
        <p>쌤의 MBTI는?</p>
      </div>
      <div class="option-container">
        <div class="four-btn">ESFJ</div>
        <div class="four-btn">ENFP</div>
        <div class="four-btn">ENTJ</div>
        <div class="four-btn">ENFJ</div>
      </div>
      <footer>
        <div>made by Jihoo.M</div>
      </footer>
    </div>
  </body>
  <script>
    const $choices = document.querySelectorAll(".four-btn");
    for (let $choice of $choices) {
      $choice.addEventListener("click", (e)=> {
       
        console.log(e.target.innerText);
        if (e.target.innerText === "ENFJ") {
          // 정답 처리 (점수 추가)
          console.log("정답!");
        }
        if (e.target.innerText === "ENFP") {
          // -6점
          console.log("패널티!");
        }
        location.href = `{% url "comment" %}`;

      })
    }
  </script>
</html>
