{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static "images/cat.png" %}" />
        </div>
        <div class="progress-bar">
            <div class="total-bar">
                <div class="complete-bar"></div>
            </div>
        </div>
        <div class="question-container">
            <p>Q3.</p>
            <p>쌤의 최애 브롤러는?</p>
        </div>
        <div class="image-option-container">
            <div class="image-option">
                <div id="image-1"></div>
                <div>브록</div>
            </div>
            <div class="image-option">
                <div id="image-2"></div>
                <div>스파이크</div>
            </div>
        </div>
        <footer>
            <div>made by Jihoo.M</div>
        </footer>
    </div>
</body>
<script>
    const $choices = document.querySelectorAll(".image-option");
    let prevScore = JSON.parse(window.localStorage.getItem("{{ user.username }}"));
    let score=0;
    for (let $choice of $choices) {
      $choice.addEventListener("click", (e)=> {
       
        console.log(e.target.innerText);
        if(e.target.innerText === "스파이크") {
          // 정답 처리 (점수 추가)
          score += 4;
          console.log("정답!");
        }
        const newScore = [...prevScore, score];
        console.log(newScore);

        window.localStorage.setItem("{{ user.username }}", JSON.stringify(newScore));


        // fetch('/answer', {
        // method: 'POST', 
        // body: JSON.stringify({score: newScore})
        // })
        // .then(response => response.json())
        location.href = "http://localhost:8000/question/4"

      })
    }
</script>
</html>