{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static "images/cat.png" %}" />
        </div>
        <div class="progress-bar">
            <div class="total-bar">
                <div class="complete-bar" style="width: 28.57%"></div>
            </div>
        </div>
        <div class="question-container">
            <p>Q4.</p>
            <p>쌤이 창업에 도전했던 분야는?</p>
        </div>
        <div class="option-container">
            <div class="four-btn">
                <div class="checkbox"></div>
                요식업
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                에듀테크
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                숙박업
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                금융업
            </div>
        </div>
        <footer>
            <button>></button>
            <div>made by Jihoo.M</div>
        </footer>
    </div>
</body>
<script>
    const $choices = document.querySelectorAll(".four-btn");
    const $nextBtn = document.querySelector("footer > button");
    let prevScore = JSON.parse(window.localStorage.getItem("{{ user.username }}"));
    let score = 0;

    let isChecked = [false,false,false,false];

    for (let i=0; i<4; i++) {
        $choices[i].addEventListener("click", (e) => {

        // 체크박스 체크처리
        isChecked[i] = !isChecked[i];
       
        // 체크박스 색깔표시
        if (isChecked[i]) {
            $choices[i].children[0].style.backgroundColor = 'yellow';
        } else {
            $choices[i].children[0].style.backgroundColor = 'white';
        }
        })
    }

    $nextBtn.addEventListener("click", (e) => {
        isChecked.forEach((check, idx) => {
            if (check && (idx === 1  || idx === 2)) {
                score += 6;
            }
        })

        const newScore = [...prevScore, score];
        console.log(newScore);

        window.localStorage.setItem("{{ user.username }}", JSON.stringify(newScore));
        // fetch('/answer', {
        // method: 'POST', 
        // body: JSON.stringify({score: newScore})
        // })
        // .then(response => response.json())

        location.href ="http://localhost:8000/question/5";
    })
  </script>
</html>