{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static "images/cat.png" %}" />
        </div>
        <div class="progress-bar">
            <div class="total-bar">
                <div class="complete-bar"></div>
            </div>
        </div>
        <div class="question-container">
            <p>Q7.</p>
            <p>쌤이 학창 시절 참여했던 동아리를 모두 고르시오</p>
        </div>
        <div class="option-container">
            <div class="four-btn">
                <div class="checkbox"></div>
                방송부
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                피구부
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                학생회
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                축구부
            </div>
        </div>
        <footer>
            <div>made by Jihoo.M</div>
        </footer>
    </div>
</body>
</html>