{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static "images/cat.png" %}" />
        </div>
        <div class="progress-bar">
            <div class="total-bar">
                <div class="complete-bar"></div>
            </div>
        </div>
        <div class="question-container">
            <p>Q7.</p>
            <p>쌤이 학창 시절 참여했던 동아리를 모두 고르시오</p>
        </div>
        <div class="option-container">
            <div class="four-btn">
                <div class="checkbox"></div>
                방송부
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                피구부
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                학생회
            </div>
            <div class="four-btn">
                <div class="checkbox"></div>
                축구부
            </div>
        </div>
        <footer>
            <button>></button>
            <div>made by Jihoo.M</div>
        </footer>
    </div>
</body>
<script>
    const $choices = document.querySelectorAll(".four-btn");
    const $nextBtn = document.querySelector("footer > button");

    let isChecked = [false,false,false,false];

    for (let i=0; i<4; i++) {
        $choices[i].addEventListener("click", (e) => {

        // 체크박스 체크처리
        isChecked[i] = !isChecked[i];
       
        // 체크박스 색깔표시
        if (isChecked[i]) {
            $choices[i].children[0].style.backgroundColor = 'yellow';
        } else {
            $choices[i].children[0].style.backgroundColor = 'white';
        }
        })
    }

    $nextBtn.addEventListener("click", (e) => {
        isChecked.forEach((check, idx) => {
            if (check) {
                // 2점씩 추가
                console.log("점수획득!")
            }
        })

        location.href ="http://localhost:8000/question/8";
    })
</script>
</html>