{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "styles/index.css" %} />
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <img src="{% static "images/cat.png" %}" />
      </div>
      <div class="scoring-container">
        <p>퀴즈 답안을<br />채점중입니다...</p>
      </div>
      <div class="scoring-icon">
        <script
          src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
          type="module"
        ></script>

        <dotlottie-player
          src="https://lottie.host/aae988e0-35b0-483b-a326-9c21d6062b0e/3CFn16SXZS.json"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px"
          loop
          autoplay
        ></dotlottie-player>
      </div>
      <footer>
        <div>made by Jihoo.M</div>
      </footer>
    </div>
  </body>
</html>
