{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "styles/index.css" %} /> 
    <link rel="stylesheet" href={% static "styles/type1.css" %} />
    <title>😻</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <img src="{% static "images/cat.png" %}" />
      </div>
      <div class="progress-bar">
        <div class="total-bar">
          <div class="complete-bar"></div>
        </div>
      </div>
      <div class="question-container">
        <p>Q1.</p>
        <p>쌤이 더 선호하는 것은?</p>
      </div>
      <div class="option-container">
        <div class="basic-btn option-btn">삼겹살</div>
        <div class="basic-btn option-btn">항정살</div>
      </div>
      <footer>
        <button><</button>
        <div>made by Jihoo.M</div>
      </footer>
    </div>
  </body>
</html>
